---
---
    


<a href="https://chat.whatsapp.com/B9E2qwGFcrRLevPGo9OlHx" target="_blank">
    <button class="btn-back">
        <span>
            <slot />
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
              </svg>
        </span>
        <i></i>
    </button>
</a>

<style>
    .btn-back {
      font-family: "Neo-latina" ,sans-serif;
      position: relative;
      background: #444;
      color: #fff;
      font-weight: 600;
      text-decoration: none;
      text-transform: uppercase;
      border: none;
      height: 60px;
      width: 80px;
      font-size: .8rem;
      transition: 0.2s;
      border-radius: 10px;
  }

  svg {
    width: 40px;
    transform: translateY(2px);
  }
  span {
    text-align: left;
  }

.btn-back:hover {

  background: #0FF0FC;
  color: #0FF0FC;
  box-shadow: 0 0 35px #0FF0FC;
  animation: box 3s infinite;
  cursor: pointer;
}

.btn-back::before {
  content: "";
  position: absolute;
  inset: 2px;
  background: #272822;
  border-radius: 10px;
}

.btn-back span {
  position: relative;
  z-index: 1;
}
.btn-back i {
  position: absolute;
  inset: 0;
  display: block;
}

.btn-back i::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 80%;
  top: -2px;
  border: 2px solid #0FF0FC;
  background: #272822;
  transition: 0.2s;
}

.btn-back:hover i::before {
  width: 15px;
  left: 20%;
  animation: move 3s infinite;
}

.btn-back i::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 2px;
  left: 20%;
  bottom: -2px;
  border: 2px solid #0FF0FC;
  background: #272822;
  transition: 0.2s;
}

.btn-back:hover i::after {
  width: 15px;
  left: 80%;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes box {
  0% {
    box-shadow: #27272c;
  }
  50% {
    box-shadow: 0 0 25px #0FF0FC;
  }
  100% {
    box-shadow: #27272c;
  }
}

@media (max-width:450px) {
    .btn-back {
        transform: scale(.8);
    }
}
</style>


  