---

const roster = Astro.params
const { id } = roster
console.log(id)

---
<div class={`background ${id}`}>
    <div class={`lines ${id}`}>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <div class="container-section">
        <slot />
    </div>

</div>



<style>

    .background{

        width: 100%;
        height: 800px;
        overflow:visible;
        background-color: #171717;
        /* background-color: #c90000; */
        color: #000;
        line-height: 1.6;
        font-family: sans-serif;
        overflow: hidden;

    }
    .lines {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1500px;
        margin: auto;
        width: 100%;
    

    }
    .container-section {

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        position: absolute;
        z-index: 5;
    }
    .lines .line {
        position: absolute;
        width: 1px;
        height: 100%;
        top: 0;
        left: 50%;
        background: rgba(255, 255, 255, 0.1);
        overflow: hidden;
    }
    .lines .line::after {
        content: "";
        display: block;
        position: absolute;
        height: 15vh;
        width: 100%;
        top: -50%;
        left: 0;
        background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(75%, #ffffff), to(#ffffff));
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #ffffff 75%, #ffffff 100%);
        -webkit-animation: run 7s 0s infinite;
                animation: run 7s 0s infinite;
        -webkit-animation-fill-mode: forwards;
                animation-fill-mode: forwards;
        -webkit-animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
                animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
    }
    .lines .line:nth-child(1) {
        margin-left: -25%;
    }
    .lines .line:nth-child(1)::after {
        -webkit-animation-delay: 2s;
        animation-delay: 2s;
    }
    .lines .line:nth-child(3) {
        margin-left: 25%;
    }
    .lines .line:nth-child(3)::after {
        -webkit-animation-delay: 2.5s;
        animation-delay: 2.5s;
    }

    @-webkit-keyframes run {
        0% {
            top: -50%;
        }
        100% {
            top: 110%;
        }
    }

    @keyframes run {
        0% {
            top: -50%;
            }
        100% {
            top: 110%;
        }
    }
    @media (min-width:300px) AND (max-width: 350px) {

        .lines.roster-1 {
            height: 1950px !important;
        }
        .background.roster-1{

            height: 1950px !important; 
        }
        .lines.roster-2 {
            height: 2230px !important;
        }
        .background.roster-2{

            height: 2230px !important; 
        }        
        .lines.roster-3 {
            height: 1920px !important;
        }
        .background.roster-3{

            height: 1920px !important; 
        }
        .lines.roster-4 {
            height: 2000px !important;
        }
        .background.roster-4{

            height: 2000px !important; 
        }        
        .lines.roster-5 {
            height: 1680px !important;
        }
        .background.roster-5{

            height: 1680px !important; 
        }
    }

    @media (min-width:351px) AND (max-width: 400px) {

        .lines.roster-1 {
            height: 1770px !important;
        }
        .background.roster-1{

            height: 1770px !important; 
        }

        .lines.roster-2 {
            height: 1950px !important;
        }
        .background.roster-2{

            height: 1950px !important; 
        }

        .lines.roster-3 {
            height: 1700px !important;
        }
        .background.roster-3 {

            height: 1700px !important; 
        }

        .lines.roster-4 {
            height: 1750px !important;
        }
        .background.roster-4 {

            height: 1750px !important; 
        }

        .lines.roster-5 {
            height: 1500px !important;
        }
        .background.roster-5 {

            height: 1500px !important; 
        }

        
    }

    @media (min-width:401px) AND (max-width: 500px) {

        .lines.roster-1 {
            height: 1600px !important;
        }
        .background.roster-1{

            height: 1600px !important; 
        }

        .lines.roster-2 {
            height: 1820px !important;
        }
        .background.roster-2{

            height: 1820px !important; 
        }

        .lines.roster-3 {
            height: 1620px !important;
        }
        .background.roster-3 {

            height: 1620px !important; 
        }

        .lines.roster-4 {
            height: 1680px !important;
        }
        .background.roster-4 {

            height: 1680px !important; 
        }

        .lines.roster-5 {
            height: 1450px !important;
        }
        .background.roster-5 {

            height: 1450px !important; 
        }
    }



    @media (min-width:501px) AND (max-width: 600px) {
        .lines.roster-1 {
            height: 1500px !important;
        }
        .background.roster-1{

            height: 1500px !important; 
        }

        .lines.roster-2 {
            height: 1650px !important;
        }
        .background.roster-2{

            height: 1650px !important; 
        }

        .lines.roster-3 {
            height: 1450px !important;
        }
        .background.roster-3 {

            height: 1450px !important; 
        }

        .lines.roster-4 {
            height: 1500px !important;
        }
        .background.roster-4 {

            height: 1500px !important; 
        }

        .lines.roster-5 {
            height: 1300px !important;
        }
        .background.roster-5 {

            height: 1300px !important; 
        }
    }

    @media (min-width:601px) AND (max-width: 750px) {

        .lines.roster-1 {
            height: 1400px !important;
        }
        .background.roster-1{

            height: 1400px !important; 
        }

        .lines.roster-2 {
            height: 1480px !important;
        }
        .background.roster-2{

            height: 1480px !important; 
        }

        .lines.roster-3 {

            height: 1400px !important;
        }
        .background.roster-3 {

            height: 1400px !important; 
        }

        .lines.roster-4 {
            height: 1400px !important;
        }
        .background.roster-4 {

            height: 1400px !important; 
        }

        .lines.roster-5 {
            height: 1270px !important;
        }
        .background.roster-5 {

            height: 1270px !important; 
        }
    }



    @media (min-width:751px) AND (max-width:850px) {
        .lines.roster-1 {
            height: 1100px !important;
        }
        .background.roster-1{

            height: 1100px !important; 
        }

        .lines.roster-2 {
            height: 1200px !important;
        }
        .background.roster-2{

            height: 1200px !important; 
        }

        .lines.roster-3 {

            height: 1050px !important;
        }
        .background.roster-3 {

            height: 1050px !important; 
        }

        .lines.roster-4 {
            height: 1100px !important;
        }
        .background.roster-4 {

            height: 1100px !important; 
        }

        .lines.roster-5 {
            height: 900px !important;
        }
        .background.roster-5 {

            height: 900px !important; 
        }
    }

        @media (min-width:851px) AND (max-width:1000px) {
        .lines.roster-1 {
            height: 1000px !important;
        }
        .background.roster-1{

            height: 1000px !important; 
        }

        .lines.roster-2 {
            height: 1100px !important;
        }
        .background.roster-2{

            height: 1100px !important; 
        }

        .lines.roster-3 {

            height: 1000px !important;
        }
        .background.roster-3 {

            height: 1000px !important; 
        }

        .lines.roster-4 {
            height: 1000px !important;
        }
        .background.roster-4 {

            height: 1000px !important; 
        }

        .lines.roster-5 {
            height: 900px !important;
        }
        .background.roster-5 {

            height: 900px !important; 
        }
    }

    @media (min-width:1001px) AND (max-width: 1200px) {
        .lines {
            height: 950px !important;
        }
        .background {

            height: 950px !important;
        }
        .box-info {
            height: 665px;
        }
    }

        @media (min-width:1201px) {
        .lines {
            height: 100vh !important;
        }
        .background {

            height: 100vh !important;
        }
        .box-info {
            height: 665px;
        }
    }
    
</style>