    .burger {
        border: none;
        border-radius: 20px;
        background-color: #07030a;
        cursor: pointer;
    }

	.burger:hover {
		-webkit-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
		box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
		transition: all 1s;

	}
  
	.burger,
	.menu {
		position: fixed;
	}
	
	.burger {
		z-index: 9999;
		top: 10px;
		left: 10px;
		display: grid;
		place-items: center;
		width: 40px;
		height: 40px;
		background-image: url("../assets/navbar/menu.svg");
		background-repeat: no-repeat;
		background-position: center;
	}

 .btn-home {

    background-color: #000;
    position: fixed;
    left: 60px;
    top: 9px;
    /* transform: translate(60px, -301px); */
    width: 45px;
		height: 45px;
    border-radius: 50%;
    cursor: pointer;
    animation: appear 0.35s backwards;
    animation-delay: 0.4s;
    z-index: 9998;

  }  

  .btn-home.hide{
    display: none;
  }

.btn-home:hover {
		-webkit-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
		-moz-box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
		box-shadow: 0px 0px 5px 4px rgba(255,255,255,1);
		transition: all 1s;

  }  
  
  .btn-home svg {
    background-color: #000;
    fill: #ffffff;

  }

  

  .container-navbar.open .burger {
    background-image: url("../assets/navbar/close.svg");
  }
    .container-navbar .background {
        position: fixed;
        z-index: 1000;
        top: 44px;
        left: 44px;
        aspect-ratio: 1 / 1;
        translate: -50% -50%;
        height: 88px;
        background: #07030a;
        border-radius: 50%;
        opacity: 0;
        transition: 0.6s;
    }
  
    .container-navbar.open .background {
        height: 300vh;
        opacity: 0.8;
    }
  
  .container-navbar .menu {
    z-index: 1001;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 0.05s;
  }
  
  .container-navbar .menu nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 100px;
  }
  
 .container-navbar.open .menu {
    opacity: 1;
    visibility: visible;
  }
  
.container-navbar .menu nav:hover > a {
    opacity: 0.25;
  }
  
.container-navbar .menu nav > a:hover {
    opacity: 1;
    translate: 8px 0;
  }
  
  .container-navbar .menu a {
    position: relative;
    color: #f9f9f9;
    font-size: 30px;
    font-family: "Euclid Circular A";
    padding: 20px 0 10px 0px;
    text-decoration: none;
    opacity: 0;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .container-navbar .menu a::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -26px;
    margin-top: 1px;
    width: 10px;
    height: 10px;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    opacity: 0;
    rotate: 45deg;
    transition: 0.3s;
  }
  
  .container-navbar .menu nav a:hover::after {
    opacity: 1;
  }
  
  .container-navbar.open .menu .btn-home::after{
    display: none;
  }
  @keyframes appear {
    0% {
      opacity: 0;
      translate: -30px 0;
    }
    100% {
      opacity: 1;
    }
  }

#inicio-nav {
    animation-delay: 0.2s
}

#eventos-nav {
    animation-delay: 0.3s
}
#sets-nav{
    animation-delay: 0.4s
}

#roosters-nav {
  animation-delay: 0.5s
}

#merch-nav {
  animation-delay: 0.6s
}

#works-nav {
animation-delay: 0.7s
}

#contacto-nav {
  animation-delay: 0.8s
}

.container-navbar.open .menu a {
    opacity: 1;
    animation: appear 0.35s backwards;
  }
  

