---
import BackgroundEffects9 from "../components/community/BackgroundEffects9.astro";
import Layout from "../layouts/Layout.astro";
import Img from "../assets/community/img.png";
import BtnJoin from "../components/community/BtnJoin.astro";

---


<Layout>
    <BackgroundEffects9>
            <div class="content">
                <h1>Community</h1>
                <img src={Img.src} alt="">
                <p>Unite a nuestra comunidad y disfrutá de todos los beneficios que tenemos para vos.</p>
                <BtnJoin>Unirse</BtnJoin>
            </div>
    </BackgroundEffects9>
</Layout>


<style>
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        z-index: 15;
    }

    h1 {

        color: #fff;
        font-family: "Neo-Latina";
    }

    p {
        
        font-family: "Cocogoose";
        color: #fff;
        width: 300px;
        text-align: center;
        margin-bottom: 25px;
    }
    img {
        margin: 25px 0;
        width: 200px;
        border-radius: 15px;
    }

    @media (max-width: 450px) {
        

        h1 {
            font-size: larger;
        }

        p {
            font-size: small;
        }

        img {
            width: 150px;
        }

    }

    @media (min-width: 451px) AND (max-width: 550px) {
        

        h1 {
            font-size: 30px;
        }

    }
</style>