---
import Indicator from "../components/Events/Indicator.astro";
import Layout from "../layouts/Layout.astro";



 
 
---

<Layout>
      <div class="container-events">
        <Indicator client:load></Indicator>
        <div id="demo"></div>
      </div>
      
</Layout>


<style>



</style>


<script> 

</script>