---

import Footer from '../components/Footer.astro';
import Header from '../components/index/Header.astro';
import Main from '../components/index/Main.astro';
import Layout from '../layouts/Layout.astro';


// const toggleMenu = () => document.body.classList.toggle("open");


export const prerender = true;
---

<Layout>
	<Header></Header>
	<Main></Main>
	<Footer
		page="index"
	/>
</Layout>



<style>

</style>