---

import Footer from "../components/Footer.astro";
import BackgroundEffects3 from "../components/roster/BackgroundEffects3.astro";
import TresdeCard from "../components/roster/TresdeCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";



const roster = await getCollection("roster");

// ordenar alfabéticamente por slug
const sortedBySlug = roster.sort((a, b) => a.slug.localeCompare(b.slug));


---


<Layout>
    <main class="container-roster"></main>
        <BackgroundEffects3>


            <h1>Roster</h1>

            <div class="box-cards">
            
                {
                    sortedBySlug.map(
                        (roster) => (
                            <TresdeCard
                                img1={roster.data.img1}
                                img2={roster.data.img2}
                                logo={roster.data.logo}
                                slug={roster.slug}
                            />
                        )
                    )
                }
            </div>  
    
        </BackgroundEffects3>
    </main>
    <Footer 
        page="roster"
    /> 

</Layout>


<style>

    .container-roster {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    h1 {
        font-family: "Neo-latina" ,sans-serif;
        color: #fff;
        text-align: center;
        font-size: 40px;
    }

    .box-cards {

        margin-top: 150px;
        max-width: 1200px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: center;
        align-items: center;
    }
</style>