---
import BtnWhatsapp from "../components/BtnWhatsapp.astro";
import BackgroundEffects from "../components/sets/BackgroundEffects7.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout>
    <BtnWhatsapp />
    <BackgroundEffects>
        <section class="container-sets">
            <div class="box-tittle">
                <h2>Sets</h2>
            </div>
        </section>
    </BackgroundEffects>
</Layout>