---
import BackgroundEffects5 from "../components/who-are-we/BackgroundEffects5.astro";
import Layout from "../layouts/Layout.astro";
import LogoC from "../assets/who-are-we/LogoC.png";
import BtnSocialMedia from "../components/who-are-we/BtnSocialMedia.astro";
import Footer from "../components/Footer.astro";
import BtnWhatsapp from "../components/BtnWhatsapp.astro";

---



<Layout>
    <BtnWhatsapp />
    <BackgroundEffects5>
        <div class="container-who-are-we"> 
            <h1>Quienes somos</h1>
            <section class="box-info">
                <div class="img-subtitle">
                    <img src={LogoC.src} alt="Logo">
                    <h2>Somos una combinación de música, arte y energía</h3>
                </div>
                <div>
                    <p> 
                        ESSENCE nació de la manera más genuina: una fiesta creada por amigos para amigos.  Aquello que comenzó
                        como un proyecto íntimo y pasional fue creciendo año tras año.
                        Hoy, ESSENCE es una productora consolidada y profesional, con una identidad clara y una propuesta que
                        combina calidad, curaduría y experiencia. Tuvimos el privilegio de trabajar con artistas de primer nivel como
                        Alex Stein, Binaryh, Emi Galván, Mazzeo, Zac, entre otros, elevando cada evento y fortaleciendo nuestra presencia dentro
                        de la escena.
                        Aun así, mantenemos intacto nuestro origen: la autenticidad, la conexión humana y la música como punto de
                        encuentro. Eso es lo que nos define y lo que nos impulsa a seguir creciendo
                    </p>
                    <div class="group-btns">
                        <div class="sector-btn">
                            <BtnSocialMedia></BtnSocialMedia>
                        </div>
                    </div>
                </div>

            </section>
        </div>
    </BackgroundEffects5>
    <Footer
        page="who-are-we"
    />
</Layout> 

<style>

    h1 {
        font-family: "Neo-latina" ,sans-serif;
        color: #fff;
        text-align: center;
        font-size: 40px;
    }
    .container-who-are-we {
        width: 100%;
        margin: 25px 15px 
    }
    .box-info {
        margin: 30px 15px;
        border: 4px solid #0FF0FC;
        border-radius: 15px;
        display: flex;
        align-items: center;
    }
    .img-subtitle {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h2 {
        font-family: "Neo-latina" ,sans-serif;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        font-size: 30px;
    }

    p { padding: 30px;
        font-family: "Cocogoose" ,sans-serif;
        font-size: 16px;
        text-align: justify;
        color: #fff;
    }


    .group-btns {
        display: flex;
        justify-content: right;
        width: 100%;

    }

    .box-info-2 {
        display: flex;
        flex-direction: column;
    }

    @media (min-width: 300px) AND (max-width:700px) {
        img {
            margin-top: 50px;
            width: 270px !important;
        }

        h2 {
            transform: scale(.9);
        }

        p {
            font-size: 15px;
        }
    }
    @media (max-width:1100px) {

    img {
        margin-top: 50px;
        width: 500px;
    }

    .box-info {
        margin: 30px 15px;
        border: 4px solid #0FF0FC;
        border-radius: 15px;
        flex-direction: column;
    }
        .group-btns {

            justify-content: center;

    }

    }

    @media (min-width:1100px) {
        .sector-btn {
            margin-top: -25px;

        }
        .group-btns {

            justify-content: right;


    }

    }

    
</style>