---

---


  <a class="whatsapp-btn" href="https://wa.me/5491123456789" target="_blank">
    <img src="https://cdn-icons-png.flaticon.com/512/124/124034.png" alt="WhatsApp">
  </a>


<style>
    .whatsapp-btn {
      position: fixed;
      bottom: 20px;
      right: 20px;
      width: 40px;
      height: 40px;
      background-color: #25d366;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: 0 6px 10px rgba(121, 120, 120, 0.3);
      cursor: pointer;
      transition: transform 0.2s ease, box-shadow 0.2s ease;
      z-index: 999;
    }

    .whatsapp-btn:hover {
      transform: scale(1.1);
      border: 2px solid #0FF0FC;;
        background-color: #19eb66;
      box-shadow: 0 8px 10px rgba(0,0,0,0.4);
      transition: all .4s ease-in;
    }

    /* Icono dentro del botón */
    .whatsapp-btn img {
      width: 36px;
      height: 36px;
      border-radius: 50%;
    }
</style>