---
 const { page } = Astro.props
import logo from "../assets/footer/logo.png";

---

<footer class={`${page}`}>

  <div class="box-waves">
    <svg
      class={`${page}`}
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28"
      preserveAspectRatio="none"
    >
      <defs>
        <path
          id="gentle-wave"
          d="M-160 44c30 0 
        58-18 88-18s
        58 18 88 18 
        58-18 88-18 
        58 18 88 18
        v44h-352z"
        />
      </defs>
      <g class="waves">
        <use
          xlink:href="#gentle-wave"
          x="50"
          y="0"
          fill="#fff"
          fill-opacity=".2"
        />
        <use
          xlink:href="#gentle-wave"
          x="50"
          y="3"
          fill="#fff"
          fill-opacity=".5"
        />
        <use
          xlink:href="#gentle-wave"
          x="50"
          y="6"
          fill="#fff"
          fill-opacity=".9"
        />
      </g>
    </svg>
  </div>
  

  <section class={`${page}`}>
      <div class="box-logo">
        <img src={logo.src} alt="Logo">
      </div>
      <div class="group-links">
        <ul class="links">
            <li><a href="/who-are-we">Quienes Somos</a></li>
            <li><a href="/events">Eventos</a></li>
            <li><a href="">Sets</a></li>
            <li><a href="/roster">Roster</a></li>
            <li><a href="">Merch</a></li>
            <li><a href="">Trabaja con nosotros</a></li>
            <li><a href="">Contacto</a></li>
        </ul>
        <ul class="links-2">
          <li>
            <a href="">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" /><path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" /></svg>
            </a> Whatsapp
          </li>
          <li>
            <a href="">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg>
            </a> Email
          </li>
          <li>
            <a href="">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-tiktok"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z" /></svg>
            </a> Tiktok
          </li>
          <li>
            <a href="">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01" /></svg>
            </a> Instagram
          </li>
        </ul>
      </div>

      <div class="group-text">
        <p class="legal">© <strong>2025</strong> Essence Crew All rights reserved</p>

      </div>
  </section>
</footer>


<style>


  footer {
    height: 370px;
    position: relative;
    width: 100%;
    margin-top: 50px;
    background-color: transparent;
    z-index: 990;
    
  }

  footer.events {

    background-color: transparent;
    height: 100%;
  }

  footer.roster {
    margin-top: -130px;
    height: 100%;
    background-color: transparent;
  }

  footer.who-are-we {
    margin-top: -100px;
    background-color: transparent;
  }

    footer.index {
    margin-top: -140px;
    background-color: transparent;
    height: 100%;
  }


  .box-waves {

      height: 25%;
      position: relative;
      background-color: transparent;

  }
  

    .box-waves svg {

      background-color: transparent;
  }
  


  section {

    background-color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  section.index {
        transform: translateY(-4px);


  }



  .group-links {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content:space-evenly;
    transform: translateY(25px);
  }

  .links,
  .links-2 {
    list-style: none;
  }



  ul li a,
  ul li {
    font-family: "Neo-latina" ,sans-serif;
    text-decoration: none;
    font-weight: 600;
    line-height: 2;
  }

  ul li a:visited {
    color:#000000
  }

  ul li a svg {
    transform: translateY(7px);
  }

    ul li a svg:hover {
      color:blue;
      transition: all .4s ease-in;
  }

  .links li a {
    color: #000000;
    border-radius: 15px;
    padding: 3px;
    border: 2px solid transparent;

  }

    .links li a:hover {
    color: blue;
    border: 2px solid blue;
    transition: all .4s ease-in;

  }


  .box-logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .box-logo img {
    width: 150px;
    height: 75px;
    object-fit: contain;
    transform: translateY(30px);
  }

  .group-text {
    font-size: medium;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }

  .legal {
    margin-right: 23px;
    font-family: "Cocogoose" ,sans-serif;

  }

  .legal strong {
    font-weight: 100;
    font-family: sans-serif;
  }

  
.waves > use {
  animation: move-forever 10s -10s linear infinite;
}

.waves > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 6s;
}
.waves > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}

  .box-waves svg.who-are-we {
    width: 100%;
    height: 130px;
    transform: translateY(-36px);
  }

  .box-waves svg.index {
    width: 100%;
    height: 130px;
  }

    .box-waves svg.events {
    width: 100%;
    height: 130px;
    transform: translateY(4px);
  }
  @media (min-width:300px) AND (max-width:360px) {

    footer.events {
      margin-top: 100px;
    }


    .box-logo img {
      width: 130px;
      height: 65px;
      object-fit: contain;
      transform: translateY(40px) scale(.7) !important;
    }

    .group-links {
      flex-direction: column;
      justify-content: left;
      align-items: center;
    } 

    .links {
      transform: translateX(11%) ;
    }

    .links-2 {
      transform: translateX(-6%) ;
    }

 
    .legal {
      width: 100%;
      text-align: center;
      margin-top: 25px;
 
    } 
      .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

    .box-waves svg.events {
      width: 100%;
      transform: translateY(4px);
      height: 130px;
    }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }

    section.who-are-we {

      height: 160%;

    }
    .box-waves svg.who-are-we {
      width: 100%;
      height: 130px;
      transform: translateY(-36px);
    }


  }
  @media (min-width:361px) AND (max-width: 440px) {

    footer.events {
      margin-top: 100px;
    }


    .box-logo img {

      transform: translateY(30px) scale(.8);
    }

    .links {
      transform: translateX(-20PX);
    }

    .links-2 {
      transform:  translateX(-20px);

    }
      
    .legal {
      margin-right:0;
      margin: 30px auto;
    } 

      .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

  .box-waves svg.events {
      width: 100%;
      transform: translateY(-37px); 
      height: 130px;
  }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }

    .box-waves svg.who-are-we {
      width: 100%;
      height: 130px;
      transform: translateY(-36px);
    }

    .box-waves svg.events {
      width: 100%;
      height: 130px;
      transform: translateY(4px);
    }
  }

    @media (min-width: 441px) AND (max-width:550px) {
      footer.events {
        margin-top: 100px;
      }

      section.roster {

      height: 109%;

    }

      .box-logo img {

        transform: translateY(30px) scale(.9);
      }

      .links {
        transform: translateX(-20PX);
      }

      .links-2 {
        transform:  translateX(-20px);
      }

      .legal {

        margin: 30px auto;
      } 

            .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

    .box-waves svg.events {
      width: 100%;
      transform: translateY(4px);
      height: 130px;
    }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }

    .box-waves svg.who-are-we {
      width: 100%;
      height: 130px;
      transform: translateY(-36px);
    }

    }

    @media (min-width: 551px) AND (max-width:599px) {

      footer.events {
        margin-top: 100px;
      }


      .box-logo img {

        transform: translateY(50px);
        margin-bottom: 30px;
      }
      
      .legal {

        margin: 30px auto;
      }

            .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

      .box-waves svg.events {
        width: 100%;
        transform: translateY(4px);
        height: 130px;
      }

      .box-waves svg.roster {
        width: 100%;
        height: 130px;
        transform: translateY(4px);

      }
    }

    @media (min-width:600px) AND (max-width:649px) {

      footer.events {
        margin-top: 100px;
      }
            .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(4px);
      }


      .box-waves svg.roster {
        width: 100%;
        height: 130px;
        transform: translateY(4px);

      }
    }

    @media (min-width:650px) AND (max-width:749px) {

      footer.events {
        margin-top: 100px;
      }

            .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(4px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }

    @media (min-width:750px) AND (max-width:999px) {

      footer.events {
        margin-top: 100px;
      }

            .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }


      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(4px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }


    @media (min-width:1000px) AND (max-width:1299px) {

      footer.events {
        margin-top: 170px;
      }

            .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(4px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }
    @media (min-width:1300px) AND (max-width:1499px) {
      footer.events {
        margin-top: 220px;
      }

      .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(5px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }

    @media (min-width:1500px) AND (max-width:1699px) {
      footer.events {
        margin-top: 250px;
      }

      .box-waves svg.index {
        width: 100%;
        height: 130px;
        transform:translateY(5px);
      }

      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(5px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }
    @media (min-width:1700px) AND (max-width:1899px) {

      footer.events {
        margin-top: 300px;
      }

      .box-waves svg.index {

        transform:translateY(0px); 
      } 
      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(5px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }
        @media (min-width:1900px) {

      footer.events {
        margin-top: 330px;
      }

 

      .box-waves svg.events {
        width: 100%;
        height: 130px;
        transform: translateY(5px);
      }

    .box-waves svg.roster {
      width: 100%;
      height: 130px;
      transform: translateY(4px);

    }
    }

</style>