---

---


<header>
    <div class="box-logo">
        <img src="header/logoAnimado.gif" alt="Logo">
    </div>
    <div>
        <h1>Somos una combinación de música, arte y energía.</h1>
    </div>
</header>


<style>
    header {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: radial-gradient(circle,rgba(0, 0, 0, 1) 0%, rgba(36, 31, 31, 1) 80%, rgba(176, 175, 165, 1) 100%);
        background-size: 100%;
        border-bottom: solid 2px #bebebe;
    }

    @media (min-width:769px) {

        .box-logo {
            border-radius: 15px;
            width: 350px;
            height: 250px;
        }

        .box-logo img {
            border-radius: 20px;
            border: solid 2px #E5E4E2;
            width: 100%; 
            transform: translatey(25px);
            border-radius: 50px;
            background: #e0e0e0;
            box-shadow:  5px 5px 20px #bebebe,
             -5px -5px 20px #ffffff;
        }

        .box-logo img:hover {

            box-shadow:  10px 10px 40px #bebebe,
             -10px -10px 40px #ffffff;
            transition: all .4s ease-in;
        }
        
        h1 {
            color: #ffffff;
        }
    }

    @media (max-width:768px) {
        
    }

</style>