---

---


<header>
    <a href="/">
        <div class="box-logo">
            <img src="header/logoAnimado.gif" alt="Logo">
        </div>
    </a>
    <div>
        <h1>Somos una combinación de música, arte y energía.</h1>
    </div>
</header>


<style>

:root{
  --gradient:  linear-gradient(to right, 
    #000000,
    #353535,
    #474747,
    #696969,
    #8b8b8b,
    #696969,
    #474747,
    #353535,
    #000000
  );
}

    /* Roboto Mono */
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


    header {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: var(--gradient);
  background-size: 400%;
  animation: fondo-anim 20s infinite alternate;
        border-bottom: solid 2px #bebebe;
    }

    @media (min-width:769px) {

        .box-logo {
            border-radius: 15px;
            width: 350px;
            height: 250px;
        }

        .box-logo img {
            border-radius: 20px;
            border: solid 2px rgba(26, 29, 194, 0.6);
            width: 100%; 
            transform: translatey(45px);
            border-radius: 50px;
            background: #e0e0e0;
            box-shadow:  5px 5px 20px #bebebe,
             -5px -5px 20px #ffffff;
        }

        .box-logo img:hover {

            box-shadow:  10px 10px 40px #bebebe,
             -10px -10px 40px #ffffff;
            transition: all .4s ease-in;
        }
        
        h1 {
            color: #ffffff;
            transform: translateY(-35px);
            padding: 4px;
            font-family: "Fira Sans", sans-serif;
            width: 100%;
            text-shadow: -7px -1px 6px rgba(26, 29, 194, 0.6);
        }
    }

    @media (max-width:768px) {
        
    }

    @keyframes fondo-anim{
        0%{background-position: left;} /*por defecto*/
        100%{background-position: right;}
    }
</style>