---
import BackgroundEffects from "./BackgroundEffects.astro";
import Carousel from "./Carousel.astro";
import PrincipalCard from "./PrincipalCard.astro";

---


<main class="container-main">
    <Carousel></Carousel>
    <section class="image">
      <BackgroundEffects></BackgroundEffects>
    </section>
    <section class="text block-1">
      <PrincipalCard></PrincipalCard>
    </section>
    <section class="image">
      <BackgroundEffects></BackgroundEffects>
    </section>
    <!-- <section class="text block-2">
      <h2>Nice Right?</h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
        facilis voluptatem aliquid natus iure? Rerum porro iste neque quod
        facilis cupiditate possimus voluptatem corrupti, quae beatae asperiores
        omnis illo magni?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
        facilis voluptatem aliquid natus iure? Rerum porro iste neque quod
        facilis cupiditate possimus voluptatem corrupti, quae beatae asperiores
        omnis illo magni?
      </p>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet
        facilis voluptatem aliquid natus iure? Rerum porro iste neque quod
        facilis cupiditate possimus voluptatem corrupti, quae beatae asperiores
        omnis illo magni?
      </p>

    </section> -->
</main>

<style>




p,
h2 {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}

p {
  opacity: 0.8;
}


.image {
  background-color: black;
  height: 350px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color:#ffffff;
  height: 350px;
  z-index: 999;


}

.text::before {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  left: 50%;
  width: 96%;
  height: 150%;
  background: #ffffff;
  rotate: -3deg;
  translate: -50% -50%;
  background: linear-gradient(90deg, #1e1e1e, #2f2e2e, #7f7f7f, #2f2e2e, #1e1e1e);


}


@media (max-width:440px) {

  .text::before {
    rotate: 0deg;
    width: 100%;
  }


  .text.block-1 {
  height: 600px !important;

  }

}

@media (min-width:441px) AND (max-width:600px) {
  .text.block-1 {

  margin: 50px auto 100px auto; */
  width: 70% !important;
  height: 500px !important;

}


}

/* @media (max-width:552px) {
  .text::before {
    width: 92%;
  }
        
} */




</style>