---
import BackgroundEffects from "./BackgroundEffects.astro";
import Carousel from "./Carousel.astro";
import PrincipalCard from "./PrincipalCard.astro";
import ServiceCards from "./ServiceCards.astro";

---


<main class="container-main">
    <Carousel></Carousel>
    <section class="image">
      <BackgroundEffects></BackgroundEffects>
    </section>
    <section class="text block-1">
      <PrincipalCard></PrincipalCard>
    </section>
    <section class="image">
      <BackgroundEffects></BackgroundEffects>
    </section>
    <section class="text block-2">
      <ServiceCards></ServiceCards>
    </section>
</main>

<style>
  




p,
h2 {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}

p {
  opacity: 0.8;
}


.image {
  background-color: black;
  height: 750px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

}

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color:#ffffff;
  height: 350px;
  z-index: 999;


}

.text::before {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  left: 50%;
  width: 92%;
  height: 180%;
  background: #ffffff;
  rotate: -3deg;
  translate: -50% -50%;
  background: linear-gradient(90deg, #1e1e1e, #2f2e2e, #7f7f7f, #2f2e2e, #1e1e1e);


}

  /* .text.block-2 {
    height: 700px;
  } */


/* .text.block-2 {
  margin-bottom: 500px;
} */

@media (max-width:440px) {

  .image {
    background-color: black;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  }

  .text::before {
    rotate: 0deg;
    width: 100%;
  }


  .text.block-1 {
  height: 600px !important;
  margin: 0 0 250px 0;

  }

  .text.block-2 {
    
    transform: translateY(-50px);
    height: 600px !important;
    margin: 0 0 350px 0;

  }

}

@media (min-width:441px) AND (max-width:599px) {
  .image {
    background-color: black;
    height: 450px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  }


  .text::before {

    width: 106% !important;
    height: 1050px;
  }

   .text:last-child::before {

    width: 106% !important;
    height: 1000px;
  }

  .text.block-1 {

  margin: 30px auto 250px auto; 
  width: 80% !important;
  height: 550px !important;
  margin-bottom: 300px;

}

  .text.block-2 {
    transform: translateY(-250px);
    margin: 150px auto 100px auto; 
    width: 80% !important;
    height: 650px !important;

  }


  .text::before {
    width: 90%;
  }


}

@media (min-width:600px) {

    .image {
    background-color: black;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  }
  .text::before {

    width: 90% !important;
    height: 800px;
  }

  .text.block-1 {

    transform: translateY(-300px);
  }

    .text.block-2 {

    margin: 0px 0 100px 0; 
  transform: translateY(-300px);
  }

}


@media (min-width:800px) {

      .text.block-2 {

    margin-top: 0px;

  }
   .text:last-child::before {


    height: 600px;
  }
}

@media (min-width: 1200px) {

  .text::before {
    width: 1150px !important;
  }
}


</style>