  .container-carousel {
    z-index: 6;
    width: 100%;
    animation: aparecer .1s ease-in;
    margin-top: -18px;

  }

  .carousel-active {
    display: inherit;
  }

  .carousel-inactive {
    display: none;
  }
  
  .box-images {

    position: relative;
    width: 100%;
    height: 500px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.3);
  }

  .box-images .slider {
    top: -20px !important;
  }
  
  .box-images .slider .item {
    position:relative;
    transform: translate(-76px,122px);
    filter: brightness(90%);
    filter: drop-shadow(50%);
    width: 55px;
    height: 55px;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left:-50%;
    z-index: 1;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 0 20px 30px rgba(255,255,255,0.3) inset;
    transition: transform 0.1s, left 0.75s, top 0.75s, width 0.75s, height 0.75s;
  
    &:nth-child(1), &:nth-child(2) {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      transform: none;
      border-radius: 0;
      box-shadow: none;
      opacity: 1;
    }
    &:nth-child(1) { left: -90px;}
    &:nth-child(3) { left: 48%; }
    &:nth-child(4) { left: calc(46% + 100px); }
    &:nth-child(5) { left: calc(44% + 200px); }
    &:nth-child(6) { left: calc(50% + 280px); opacity: 0; }
  }

  .box-images .slider .item-1 {
    background-image: url(../../assets/carousel/carousel-1.jpg);
  }
  .box-images .slider .item-2 {
    background-image: url(../../assets/carousel/carousel-2.jpg);
  }
  .box-images .slider .item-3 {
    background-image: url(../../assets/carousel/carousel-3.jpg);
    background-position-y: 45%;
  }
  .box-images .slider .item-4 {
    background-image: url(../../assets/carousel/carousel-4.jpg);
    background-position-y: 40%;
  }
  .box-images .slider .item-5 {
    background-image: url(../../assets/carousel/carousel-5.jpg);
  }
  .box-images .slider .item-6 {
    background-image: url(../../assets/carousel/carousel-6.jpg);
  }
  .empty {
    display: hidden;
  }


  .box-images .slider .content {
    width: 100%;
    /* padding: 8px; */
    & .title        { font-size: 1.4rem; }
    & .description  { font-size: 1.1rem; }

    
  }

  
  .box-images .slider .content {
    width: min(30vw,2500px);
    position: absolute;
    top: 25%;
    transform: translate(30px,-50%);
    font: 400 0.85rem helvetica,sans-serif;
    color: white;
    text-shadow: 0 3px 8px rgba(0,0,0,0.5);
    opacity: 0;
    display: none;
    
  
    & .title {
      font-family: "Neo-Latina",sans-serif;
      text-transform: uppercase;
      font-size: 2.4rem;

      border-radius: 15px;
text-shadow: 0 0 15px rgba(68, 67, 67, 0.5), 0 0 10px rgba(68, 67, 67, 0.5);
      width: 100%;

      text-align: center;
    }
  
    & .description {
      font-family: "Cocogoose", sans-serif;
      line-height: 1.7;
      margin: 1rem 0 1.5rem;
      font-size: 1.5rem;
      font-weight: 600;
      text-shadow: 0 0 15px rgba(68, 67, 67, 0.5), 0 0 10px rgba(68, 67, 67, 0.5);
      border-radius: 15px;

      width: fit-content;
      text-align: center;
    }
  
    & button {
      width: fit-content;
      background-color: rgba(0,0,0,0.1);
      color: white;
      border: 2px solid white;
      border-radius: 0.25rem;
      padding: 0.75rem;
      cursor: pointer;
    }
  }
  
  .box-images .slider .item:nth-of-type(2) .content {
    display: block;
    width: 100%;
    animation: show 0.75s ease-in-out 0.3s forwards;
        display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  @keyframes show {
    0% {
      filter: blur(5px);
      transform: translateY(calc(-50% + 75px));
    }
    100% {
      opacity: 1;
      filter: blur(0);
    }
  }
  
  .box-images .nav {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%,19%);
    z-index: 5;
    user-select: none;
  
    & .btn {
      background-color: rgba(255,255,255,0.5);
      color: rgba(0,0,0,0.7);
      border: 2px solid rgba(0,0,0,0.6);
      margin: 0 .25rem;
      padding: 0.75rem;
      border-radius: 50%;
      cursor: pointer;
  
      &:hover {
        background-color: rgba(255,255,255,0.3);
      }
    }
  }
  @media (width > 899px) and (width < 1200px) {

    .box-images .slider .content {
      top: 25%;
      left: -5%;
      & .title        { font-size: 2rem; }
      & .description  { font-size: 1.5rem; width: 800px !important; margin-top: -10px; }
      & button        { font-size: 1.1rem; }
    }
    .box-images .slider .item {
        
        transform: translate(-90px,130px);
        width: 50px;
        height: 50px;
  
        &:nth-child(3) { left: 50%; }
        &:nth-child(4) { left: calc(52% + 50px); }
        &:nth-child(5) { left: calc(54% + 100px); }
        &:nth-child(6) { left: calc(50% + 80px); opacity: 0; }
    }

    .box-images .nav svg {
        transform: scale(.9);
    }
  }
  @media (width > 650px) and (width < 900px) {
    .box-images .slider .content {
      top: 25%;
      left: -5%;
      & .title        { font-size: 1.8rem; }
      & .description  { font-size: 1.2rem; width: 500px !important; margin-top: -10px;}
      & button        { font-size: 1.1rem; }
    }
    .box-images .slider .item {
      transform: translate(-85px,130px);
      width: 45px;
      height: 45px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(52% + 50px); }
      &:nth-child(5) { left: calc(54% + 100px); }
      &:nth-child(6) { left: calc(50% + 80px); opacity: 0; }
    }
  }
  
  @media (width <= 650px) {
    .box-images .slider .content {
      left: -5%;
      /* transform: translate(30px,-70%); */
      & .title        { font-size: 1.4rem; margin-top: 4%; }
      & .description  { font-size: 1rem; width: 300px !important; margin-top: -10px;}
      & button        { font-size: 0.7rem; }
    }
    .box-images .slider .item {
    transform: translate(-80px,140px);
      width: 40px;
      height: 40px;
  
      &:nth-child(3) { left: 50%; }
      &:nth-child(4) { left: calc(52% + 50px); }
      &:nth-child(5) { left: calc(54% + 100px); }
      &:nth-child(6) { left: calc(50% + 80px); opacity: 0; }
    }

    .box-images .nav svg {
        transform: scale(.8);
    }
  }
