

.container-events {

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100dvh;

}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: transparent;

}

.container .slide {

  height: 100dvh;
  width: 100%;

}

.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  background-color: #000;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  transition: 0.5s;
}

/* Soporta 10 eventos */
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100vh;

}

.slide .item:nth-child(1){
  z-index: 10;

}
.slide .item:nth-child(1) .content {
    display: block;

  
}


.slide .item:nth-child(3) {
  
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
  left: calc(50% + 440px);
  overflow: hidden;
}

.slide .item:nth-child(3),
.slide .item:nth-child(4),
.slide .item:nth-child(5),
.slide .item:nth-child(6),
.slide .item:nth-child(7),
.slide .item:nth-child(8),
.slide .item:nth-child(9),
.slide .item:nth-child(10) {
z-index: 16;
}

.item .content {
  
  position: absolute;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
  z-index: 100;
}

.content a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

.button button {
  background-color: #9e9999;
  width: 45px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;

}

.button button:hover {
  background: #3f3f3f;
  border-color: #0FF0FC;
  color: #0FF0FC; 
  transition: all .3s ease-in;

}

.button button i {
  transform: scale(1.5);
}

.content{
  position:absolute;
  opacity: .7;
}

.content:hover{
  transition: all .4s ease-in;
  opacity: 1;

}


.content .group-btns {
  
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 40px;
  z-index: 100;
}

.btn-buy,
.btn-info {
  z-index: 100;
}

@media (max-width:350px) {

.container {

}

.container .slide .item { 

    background-color: #000;
    background-size: contain;
    background-position: center;


  }

  .button button {
     width: 35px;
     height: 25px;
     transform: translateY(15px);
  
  }

  .slide .item:nth-child(3) {

      top: 85dvh;
      left: 10%;
      width: 35px;
      height: 35px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 85dvh;
      left: 80%;
      width: 35px;
      height: 35px;
      z-index: 14;
  }


  .item .content {
    width: 100%;
    margin: auto;
    left:0%;
    transform: scale(.7);
  }



  .slide .item:nth-child(1) .content {
      display: inherit;
  }

  .btn-buy {
    left: 145%;
  }

  .btn-info {
    left: 408% !important;
    top: 352%;
  }
}



@media (min-width:351px) AND (max-width: 450px) {

  
  .container .slide .item { 

    background-color: #000;
    background-size: cover;
    background-position: center;
    background-clip: border-box;

  }

    .button button {
     width: 35px;
     height: 25px;
     bottom: 10px;
  }

  .slide .item:nth-child(3) {
      top: 86dvh;
      left: 19%;
      width: 50px;
      height: 50px;
      z-index: 15;
  }

  .slide .item:nth-child(4) {
      top: 86dvh;
      left: 43%;
      width: 50px;
      height: 50px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 5) {
    top: 86dvh;
    left: 67%;
    width: 50px;
    height: 50px;
    z-index: 13;
  }



  .slide .item:nth-child(1) .content {
      display: inherit;
  }

    .item .content {



      margin: 0;
      left: 43%;
      top: 68%;
      transform: scale(.8) translate(-50%, -50%);

    }

      .group-btns {
    margin: auto;
    transform: translateY(54px);
  }

}



@media (min-width:451px) AND (max-width: 550px) {

  .container .slide .item { 
    background-color: #000;
    background-size: cover;
    background-position: center;

  }

    .slide .item:nth-child(3) {
      top: 13%;
      left: 19%;
      width: 100px;
      height: 100px;
      z-index: 15;
  }

  .slide .item:nth-child(4) {
      top: 13%;
      left: 45.5%;
      width: 100px;
      height: 100px;
      z-index: 14;
  }

  .slide .item:nth-child(n + 5) {
    top: 13%;
    left: 72%;
    width: 100px;
    height: 100px;
    z-index: 13;
  }

  .item .content {


    left: 43%;
    top: 50%;
    transform: scale(.9) translate(-50%, -50%);

  }

}

@media (min-width:551px) AND (max-width: 600px) {

  .container .slide .item { 
    background-color: #000;
    background-size: cover;
    background-position: center;

  }

      .slide .item:nth-child(3) {
      top: 19%;
      left: 19%;
      width: 120px;
      height: 150px;
      z-index: 15;
  }

  .slide .item:nth-child(4) {
      top: 19%;
      left: 45.5%;
      width: 120px;
      height: 150px;
      z-index: 14;
  }

  .slide .item:nth-child(n + 5) {
    
    top: 19%;
    left: 72%;
    width: 120px;
    height: 150px;
    z-index: 13;
  }

  .item .content {

    width: 400px;
    height: 100dvh;
    left: 0%;
    top: 0%;
    transform: scale(1) translate(29%, 32%);

  }

}

@media (min-width:601px) AND (max-width: 700px) {

  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(-25%, -50%);
  
}

      .item .content .name {
        font-size:  25px;
      }

.slide .item:nth-child(3) {
  
  left: 54%;
  width: 120px;
}

.slide .item:nth-child( n+ 4) {
  width: 120px;
  left: calc(42% + 220px);
  z-index: 15;
}


}

@media (min-width:701px) AND (max-width: 730px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(.9) translate(-39%, -56%)
  
}
  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 41%;
  width: 120px;
}

.slide .item:nth-child(4) {
  width: 120px;
  left: calc(29.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(17.5% + 440px);
  width: 120px;
  z-index: 14;
}
}

@media (min-width:731px) AND (max-width: 760px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(.9) translate(-37%, -56%)
  
}

  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 41%;
  width: 120px;
}

.slide .item:nth-child(4) {
  width: 120px;
  left: calc(31.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(21.5% + 440px);
  width: 120px;
  z-index: 14;
}


}


@media (min-width:761px) AND (max-width: 800px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(-30%, -54%)
  
}

  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 41%;
  width: 120px;
}

.slide .item:nth-child(4) {
  width: 120px;
  left: calc(31.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(21.5% + 440px);
  width: 120px;
  z-index: 14;
}
}

@media (min-width:801px) AND (max-width: 900px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }
  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(-30%, -54%)
  
}

  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 38%;
  width: 140px;
}

.slide .item:nth-child(4) {
  width: 140px;
  left: calc(32.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(26.5% + 440px);
  width: 140px;
  z-index: 14;
}
}


@media (min-width:901px) AND (max-width: 1000px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(-2%, -48%)
  
}

  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 33.5%;
  width: 180px;
}

.slide .item:nth-child(4) {
  width: 180px;
  left: calc(31.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(29.5% + 440px);
  width: 180px;
  z-index: 14;
}
}

@media (min-width:1001px) AND (max-width: 1100px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(-23%, -52%)
  
}

  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 33.5%;
  width: 180px;
}

.slide .item:nth-child(4) {
  width: 180px;
  left: calc(31.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(29.5% + 440px);
  width: 180px;
  z-index: 14;
}
}

@media (min-width:901px) AND (max-width: 1000px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

    .item .content {

    width: 250px;
    left: 2%;
    top: 0%;
   transform: scale(1) translate(3%, 43%);

  }

  .content .name {
    font-size: 30px;
  }
.slide .item:nth-child(3) {
  
  left: 33.5%;
  width: 180px;
}

.slide .item:nth-child(4) {
  width: 180px;
  left: calc(31.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(29.5% + 440px);
  width: 180px;
  z-index: 14;
}
}

@media (min-width:1101px) AND (max-width: 1200px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(-18%, -48%)
  
}

  .content .name {
    font-size: 35px;
  }
.slide .item:nth-child(3) {
  
  left: 35.5%;
  width: 200px;
}

.slide .item:nth-child(4) {
  width: 200px;
  left: calc(37.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(39.5% + 440px);
  width: 200px;
  z-index: 14;
}
}


@media (min-width:1201px) AND (max-width: 1300px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
    top: 50%;
    transform: scale(1) translate(-18%, -54%)
  
}

  .content .name {
    font-size: 40px;
  }
.slide .item:nth-child(3) {
  
  left: 39.5%;
  width: 200px;
}

.slide .item:nth-child(4) {
  width: 200px;
  left: calc(41.5% + 220px);
  z-index: 15;
}

.slide .item:nth-child(n + 5) {
  left: calc(43.5% + 440px);
  width: 200px;
  z-index: 14;
}
}


