

.container-events {

  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  height: 100dvh;

}
.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  background: transparent;

}

.container .slide {

  height: 100dvh;
  width: 100%;

}

.container .slide .item {
  width: 200px;
  height: 300px;
  position: absolute;
  background-color: #000;
  top: 50%;
  transform: translate(0, -50%);
  border-radius: 20px;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  transition: 0.5s;
}



/* Soporta 10 eventos */
.slide .item:nth-child(1),
.slide .item:nth-child(2) {
  top: 0;
  left: 0;
  transform: translate(0, 0);
  border-radius: 0;
  width: 100%;
  height: 100vh;

}

.slide .item:nth-child(1){
  z-index: 10;

}
.slide .item:nth-child(1) .content {
    display: block;

  
}


.slide .item:nth-child(3) {
  
  left: 50%;
}

.slide .item:nth-child(4) {
  left: calc(50% + 220px);
}

.slide .item:nth-child(5) {
  left: calc(50% + 440px);
}

.slide .item:nth-child(n + 6) {
  left: calc(50% + 440px);
  overflow: hidden;
}

.slide .item:nth-child(3),
.slide .item:nth-child(4),
.slide .item:nth-child(5),
.slide .item:nth-child(6),
.slide .item:nth-child(7),
.slide .item:nth-child(8),
.slide .item:nth-child(9),
.slide .item:nth-child(10) {
z-index: 16;
}

.item .content {
  
  position: absolute;
  left: 100px;
  width: 300px;
  text-align: left;
  color: #eee;
  transform: translate(0, -50%);
  font-family: system-ui;
  display: none;
  z-index: 100;
}

.content a {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  opacity: 0;
  animation: animate 1s ease-in-out 0.6s 1 forwards;
}


@keyframes animate {
  from {
    opacity: 0;
    transform: translate(0, 100px);
    filter: blur(33px);
  }

  to {
    opacity: 1;
    transform: translate(0);
    filter: blur(0);
  }
}

.button {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

.button button {
  background-color: #9e9999;
  width: 45px;
  height: 35px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  margin: 0 5px;
  border: 1px solid #000;
  transition: 0.3s;

}

.button button:hover {
  background: #3f3f3f;
  border-color: #0FF0FC;
  color: #0FF0FC; 
  transition: all .3s ease-in;

}

.button button i {
  transform: scale(1.5);
}

.content{
  position:absolute;
  opacity: .7;
}

.content:hover{
  transition: all .4s ease-in;
  opacity: 1;

}


.content .group-btns {
  
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 40px;
  z-index: 100;
}

.btn-buy,
.btn-info {
  z-index: 100;
}

@media (max-width:350px) {


.container .slide .item { 

    background-color: #000;
    background-size: contain;
    background-position: center;


  }

  .button button {
     width: 35px;
     height: 25px;
     transform: translateY(15px);
  
  }

  .slide .item:nth-child(3) {

      top: 85dvh;
      left: 10%;
      width: 35px;
      height: 35px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 85dvh;
      left: 80%;
      width: 35px;
      height: 35px;
      z-index: 14;
  }


  .item .content {
    width: 100%;
    margin: auto;
    left:0%;
    transform: scale(.7);
  }



  .slide .item:nth-child(1) .content {
      display: inherit;
  }

  .btn-buy {
    left: 145%;
  }

  .btn-info {
    left: 408% !important;
    top: 352%;
  }
}



@media (min-width:351px) AND (max-width: 450px) {

  
  .container .slide .item { 

    background-color: #000;
    background-size: cover;
    background-position: center;
    background-clip: border-box;

  }

    .button button {
      width: 35px;
      height: 25px;
      transform: translateY(15px);
  }

  .slide .item:nth-child(3) {

      top: 85dvh;
      left: 10%;
      width: 35px;
      height: 35px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 85dvh;
      left: 80%;
      width: 35px;
      height: 35px;
      z-index: 14;
  }



  .slide .item:nth-child(1) .content {
      display: inherit;
  }

    .item .content {
    width: 100%;

  }


  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-23dvw,3dvw) scale(.7);
 
  }

  .btn-info {
    transform: translate(-8dvw,3dvw) scale(.7);

  }

}



@media (min-width:451px) AND (max-width: 550px) {

  .container .slide .item { 
    background-color: #000;
    background-size: cover;
    background-position: center;

  }

  .slide .item:nth-child(3) {

      top: 65dvh;
      left: 86%;
      width: 50px;
      height: 50px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 50dvh;
      left: 86%;
      width: 50px;
      height: 50px;
      z-index: 14;
  }

  .slide .item:nth-child(n + 5) {
    top: 35dvh;
    left: 86%;
    width: 50px;
    height: 50px;
    z-index: 13;
  }

    .item .content {
    width: 100%;

  }


  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-18dvw,3dvw) scale(.8);
 
  }

  .btn-info {
    transform: translate(-8dvw,3dvw) scale(.8);

  }
}

@media (min-width:551px) AND (max-width: 600px) {

  .container .slide .item { 
    background-color: #000;
    background-size: cover;
    background-position: center;

  }

  .slide .item:nth-child(3) {

      top: 75dvh;
      left: 86%;
      width: 70px;
      height: 70px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 50dvh;
      left: 86%;
      width: 70px;
      height: 70px;
      z-index: 14;
  }

  .slide .item:nth-child(n + 5) {
    top: 25dvh;
    left: 86%;
    width: 70px;
    height: 70px;
    z-index: 13;
  }

  .item .content {
    width: 100%;

  }

  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-16dvw,3dvw);
 
  }

  .btn-info {
    transform: translate(-8dvw,3dvw);

  }

}

@media (min-width:601px) AND (max-width: 700px) {

  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;

  
}


  .slide .item:nth-child(3) {

      top: 75dvh;
      left: 86%;
      width: 70px;
      height: 70px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 50dvh;
      left: 86%;
      width: 70px;
      height: 70px;
      z-index: 14;
  }

  .slide .item:nth-child(n + 5) {
    top: 25dvh;
    left: 86%;
    width: 70px;
    height: 70px;
    z-index: 13;
  }

  .item .content {
    width: 100%;

  }

  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-16dvw,3dvw);
 
  }

  .btn-info {
    transform: translate(-10dvw,3dvw);

  }

}

@media (min-width:701px) AND (max-width: 801px) {

  .container .slide .item {
    
    background-color: #000;
    background-size: cover;

  }

  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;
  
  }


  .slide .item:nth-child(3) {

      top: 75dvh;
      left: 85%;
      width: 100px;
      height: 100px;
      z-index: 15;
  }

  .slide .item:nth-child(n + 4) {

      top: 50dvh;
      left: 85%;
      width: 100px;
      height: 100px;
      z-index: 14;
  }

  .slide .item:nth-child(n + 5) {
    top: 25dvh;
    left: 85%;
    width: 100px;
    height: 100px;
    z-index: 13;
  }

    .item .content {
    width: 100%;

  }

  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-13dvw,3dvw);
 
  }

  .btn-info {
    transform: translate(-10dvw,3dvw);

  }


}

@media (min-width:801px) AND (max-width: 900px) {
  .container .slide .item {
    
    background-color: #000;
    background-size: cover;
    background-position: 12% , 0;

  }
  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;

  
}


  .slide .item:nth-child(3) {

      top: 50dvh;
      left: 47%;
      width: 120px;
      height: 215px;
      z-index: 15;
      background-size: cover !important;
  }

  .slide .item:nth-child(n + 4) {

      top: 50dvh;
      left: 65%;
      width: 120px;
      height: 215px;
      z-index: 14;
      background-size: cover !important;
  }

  .slide .item:nth-child(n + 5) {
    top: 50dvh;
    left: 83%;
      width: 120px;
      height: 215px;
    z-index: 13;
    background-size: cover !important;
  }

    .item .content {
    width: 100%;

  }

  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-13dvw,3dvw);
 
  }

  .btn-info {
    transform: translate(-10dvw,3dvw);

  }
}


@media (min-width:901px) {


  .container .slide .item {
    
    background-color: #000;
    background-size: cover;
    background-position: 12% , 0;

  }
  .slide .item:nth-child(1) .content {
    display: block;
    position: absolute;

  
}


  .slide .item:nth-child(3) {

      top: 50dvh;
      left: 47%;
      width: 130px;
      height: 235px;
      z-index: 15;
      background-size: cover !important;
  }

  .slide .item:nth-child(n + 4) {

      top: 50dvh;
      left: 65%;
      width: 130px;
      height: 235px;
      z-index: 14;
      background-size: cover !important;
  }

  .slide .item:nth-child(n + 5) {
    top: 50dvh;
    left: 83%;
      width: 130px;
      height: 235px;
    z-index: 13;
    background-size: cover !important;
  }

      .item .content {
    width: 100%;

  }

  .content .group-btns {

    display: flex;
    justify-content: end;
  }

    .btn-buy {
        
    transform: translate(-13dvw,3dvw);
 
  }

  .btn-info {
    transform: translate(-10dvw,3dvw);

  }
}

@media (min-width:1000px) {




  .slide .item:nth-child(3) {


      width: 160px;
      height: 255px;

  }

  .slide .item:nth-child(n + 4) {

      width: 160px;
      height: 255px;
  }

  .slide .item:nth-child(n + 5) {
      width: 160px;
      height: 255px;
  }





    .btn-buy {
        
    transform: translate(-10dvw,3dvw) scale(1.1);
 
  }

  .btn-info {
    transform: translate(-7dvw,3dvw) scale(1.1);

  }
}

@media (min-width:1300px) {


    .slide .item:nth-child(3) {


      width: 180px;
      height: 265px;

  }

  .slide .item:nth-child(n + 4) {

      width: 180px;
      height: 265px;
  }

  .slide .item:nth-child(n + 5) {
      width: 180px;
      height: 265px;
  }

      .btn-buy {
        
    transform: translate(-8dvw,3dvw) scale(1.1);
 
  }

  .btn-info {
    transform: translate(-5dvw,3dvw) scale(1.1);

  }
  
}

@media (min-width: 1500px) {
  
      .slide .item:nth-child(3) {


      width: 210px;
      height: 320px;

  }

  .slide .item:nth-child(n + 4) {

      width: 210px;
      height: 320px;
  }

  .slide .item:nth-child(n + 5) {
      width: 210px;
      height: 320px;
  }

        .btn-buy {
        
    transform: translate(-7dvw,3dvw) scale(1.1);
 
  }

  .btn-info {
    transform: translate(-6dvw,3dvw) scale(1.1);

  }
}

