---
import BorderEffectLogo from "./BorderEffectLogo.astro";
import Logo from "../../assets/header/logo.png"



---


<header>
    <a href="/">
        <div class="box-logo">
            <img src={Logo.src} alt="Logo">
        </div>
    </a>
    <div class="eslogan">
        <BorderEffectLogo>
            <h1>WHERE MUSIC BECOMES ESSENCE, AND EVERY BEAT IS AN EXPERIENCE</h1>
        </BorderEffectLogo>

    </div>
</header>


<style>


    header {
        position: relative;;
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #000;
        background-size: 100%;
        border-bottom: solid 5px #bebebe;

    }
    


    @media (min-width:769px) {

        .box-logo {
            border-radius: 15px;
            width: 350px;
            height: 250px;
        }

        .box-logo img {
            border-radius: 20px;
            width: 100%; 
            transform: translateY(15px);

        }

        .box-logo img:hover {

            box-shadow:  5px 5px 20px #bebebe,
            -5px -5px 20px #ffffff;
            transition: all .4s ease-in;
        }


        
        h1 {
            color: #ffffff;
            font-size: 25px;
            font-family: "Neo-latina", sans-serif;
            margin: 5px

        }
    }

    @media (max-width:768px) {

        header {
            width: 100%;
            height: 400px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background: #000000;


        }

        .box-logo {
            
            width: 100%;
            height: 250px;
        }

        .box-logo img {
            border-radius: 20px;
            width: 100%; 
            margin-top: 25px;
            transform: translatey(20%);

        }
        .box-logo img:hover {

            box-shadow:  5px 5px 20px #bebebe,
            -5px -5px 20px #ffffff;
            transition: all .4s ease-in;
        }

        h1 {
            color: #ffffff;
            transform: scale(1) translateY(10%);
            font-size: larger;
            text-align: center;
            font-family: "Neo-latina", sans-serif;
            width: 100%;

        }


    }

    @media (min-width:300px) AND (max-width:399px) {
        .box-logo img{
            transform: scale(.8);
        } 
    }
    
    @media (min-width:400px) AND (max-width:769px) {
        .box-logo {
            max-width: 420px;
            margin-bottom: 15px;;
        } 
        .box-logo img {
            transform: scale(.8);

        } 
    }


</style>