---
import BackgroundEffects from "./BackgroundEffects.astro";
import Carousel from "./Carousel.astro";
import PrincipalCard from "./PrincipalCard.astro";
import ServiceCards from "./ServiceCards.astro";

---


<!-- <main class="container-main">
    <Carousel></Carousel> 
    <section class="image">
      <BackgroundEffects></BackgroundEffects>
    </section>
    <section class="text block-1">
      <PrincipalCard></PrincipalCard>
    </section>
    <section class="image">
      <BackgroundEffects></BackgroundEffects>
    </section>
    <section class="text block-2">
      <ServiceCards></ServiceCards>
    </section>

</main> -->

<>
  <BackgroundEffects>
    <Carousel></Carousel>
    <section class="text block-1">
      <PrincipalCard></PrincipalCard>
    </section>
    <!-- <section class="text block-2">
      <ServiceCards></ServiceCards>
    </section> -->
  </BackgroundEffects>
</>

<style>
  




p,
h2 {
  position: relative;
  z-index: 1;
  margin: 20px 15%;
}

p {
  opacity: 0.8;
}


/* .image {
  background-color: black;
  height: 750px;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;

} */

.text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  color:#ffffff;
  height: 350px;
  z-index: 999;


}

.text::before {
  content: "";
  display: block;
  position: absolute;

  top: 50%;
  left: 50%;
  width: 92%;
  height: 180%;
  background: #ffffff;
  rotate: -3deg;
  translate: -50% -50%;
  background: linear-gradient(90deg, #1e1e1e, #2f2e2e, #7f7f7f, #2f2e2e, #1e1e1e);


}

  /* .text.block-2 {
    height: 700px;
  } */


/* .text.block-2 {
  margin-bottom: 500px;
} */

@media (max-width:440px) {

  /* .image {
    background-color: black;
    height: 500px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  } */

  .text::before {
    margin: 100px 0 0 0;
    rotate: 0deg;
    width: 100%;
  }


  .text.block-1 {
    width: 90%;
    height: 750px;
    margin: 400px 0 0 0;

  }

  /* .text.block-2 {
    
    transform: translateY(-50px);
    height: 600px !important;
    margin: 0 0 0 0;

  } */

}

@media (min-width:441px) AND (max-width:599px) {
  /* .image {
    background-color: black;
    height: 450px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  } */


  .text::before {

    margin: 100px 0px 100px 0px;
    width: 100% !important;
    height: 1300px;
    rotate: -2deg;

  } 

  .text.block-1 {

    margin: 500px auto 100px auto !important; 
    width: 90% !important;
    height: 550px !important;


  }

   /* .text:last-child::before {

    width: 106% !important;
    height: 1000px;
  }

  .text.block-1 {

  margin: 350px auto 100px auto; 
  width: 80% !important;
  height: 550px !important;


}

  .text.block-2 {
    transform: translateY(-250px);
    margin: 150px auto 100px auto; 
    width: 80% !important;
    height: 650px !important;

  }


  .text::before {
    width: 90%;
  }



*/
}
@media (min-width:601px) {

    /* .image {
    background-color: black;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;

  } 
  /* .text::before {

    width: 90% !important;
    height: 800px;
  } */

  .text::before {

    margin: 180px 0px 0px 0px;
    width: 93% !important;
    height: 1200px;
    rotate: -3deg;

  } 

  .text.block-1 {

    margin: 500px auto 50px auto !important; 
    width: 90% !important;
    height: 550px !important;


  }

    /* .text.block-2 {

    margin: 0px 0 100px 0; 
  transform: translateY(-300px);
  } */

}


@media (min-width:800px) AND (max-width:999px) {

  .text::before {

    margin: 180px 0px 0px 0px;
    width: 93% !important;
    height: 1200px;
    rotate: -3deg;

  } 

  .text.block-1 {

    margin: 500px auto 50px auto !important; 
    width: 90% !important;
    height: 550px !important;


  }
}

@media (min-width: 1000px) {

  .text::before {

    margin: 100px 0px 0px 0px;
    width: 93% !important;
    height: 1000px;
    rotate: -3deg;

  } 

  .text.block-1 {

    margin: 500px auto 50px auto !important; 
    width: 1150px !important;
    height: 550px !important;


  }
}


</style>