---
import BtnCardPrincipal from "./BtnCardPrincipal.astro";
import BtnSocialMedia from "./BtnSocialMedia.astro";
import Image from "../../assets/principalCard/essence.jpg";

---

<div class="container-principal-card">
    <div class="card">
        <img src={Image.src} />
        <div>
            <h2>Essence Crew</h2>
            <h3>Música - Arte - Energía</h3>
            <p>
                ESSENCE, más que una fiesta es una experiencia que te invita a compartir la introspección profunda de su intensa y vibrante energía que proyectan sus artistas a través de sus sets  combinando así arte, música y energía entre nuestros DJs y el público.
            </p>
            <div class="btns-group">
                <BtnSocialMedia></BtnSocialMedia>
                <BtnCardPrincipal></BtnCardPrincipal>
            </div>

        </div>
    </div>
</div>


<style>

    :root {
        --gradient: linear-gradient(45deg, #ff7c7d, #ffda67);
        --card: #272524;
    }


    .container-principal-card {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 95%;
        height: 95%;
    }
    
    .card {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 75vw;
        max-width: 650px;
        padding: 44px 30px 44px 20px;
        background: var(--card);
        border-radius: 24px;

    }

    .card img {
        max-width: 280px;
        width: 36vw;
        height: 300px;
        border: 2px solid #fff;
        object-fit: cover;
        margin-left: -60px;
        margin-right: 30px;
        border-radius: inherit;
        box-shadow: 0 60px 40px rgb(0 0 0 / 8%);
        transition: border-radius 0.3s;
    }

    .card h2 {
        font-family: "Neo-latina" ,sans-serif;
        font-size: 25px;
        text-align: center;
        font-weight: 700;
        margin-top: 0;
        margin-right: 30px;
        margin-bottom: 10px;
    }

    .card h3 {
        font-family: "Neo-latina" ,sans-serif;
        text-align: center;
        font-size: 20px;
        font-weight: 600;
        margin: 0;
        opacity: 0.75;
    }

    .card p {
        font-family: "Cocogoose" ,sans-serif;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 30px;
        opacity: 0.5;
    }

    .btns-group {
        display: flex;
        width: 100%;
        flex-direction: column;
    }


    @media (width <= 600px) {
        .card {

        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 60px;
        width: 70%;
        text-align: center;
        flex-direction: column;
    }

    .card h2 {
        margin-right: 0;
        font-size: 26px;
    }

    .card img {
        margin: -100px 0 30px 0;
        width: 100%;

        height: 250px;
    }

    .card p {
        max-width: 360px;
    }

    .socials {
        justify-content: center;
    }

    }

    @media (width <= 440px) {

        .container-principal-card {

            height: 110%;
        }

        .card {
            width: 60%;
            height: 95%;
        }

        .card img {
            height: 200px;
            width: 200px;
            object-fit: cover;
            border-radius: 50%;
            border: 12px solid var(--card);
            box-shadow: none;
            margin: -140px 0 30px 0;
        }

    }

    @media (min-width:601px) AND (max-width:740px) {
        .card img {
            object-fit: contain;
            background-color: #000;
        }
    }
</style>