---
import { ClientRouter } from "astro:transitions"
import Navbar from "../components/Navbar.jsx"
import favicon from "../assets/favicon.svg"


---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
		<title>Essence Crew</title>
		<ClientRouter></ClientRouter>
	</head>
	<body>
		<Navbar client:load></Navbar>
		<slot />
	</body>
</html>

<style>
	html,
	body {
		background-color: #000;
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

</style>


<script>

</script>