.container-card {
  
  width: 350px;
  border-radius: 10px;
  border: 3px solid #0FF0FC;
  padding: 10px;
  margin-bottom: 30px;
  animation: aparecer .4s ease-in;
  

}

.container-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 15px;
}

.container-card .desc-product {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.desc-product h3 {
  font-family: "Neo-latina" ,sans-serif;
  line-height: 0px;
  font-size: larger;
}

.desc-product h4 {
 font-family: "Badcomic", sans-serif;
  line-height: 0px;
  font-size: small;

}

.desc-product button {
  color: #fff;
}

@media (min-width:300px) AND (max-width:350px) {

  .container-card {
    transform: scale(.8) translateX(-10%);
  }
}

@media (min-width:351px) AND (max-width:450px) {

  .container-card {
    transform: scale(.85) translateX(-10%);
  }
}

@media (min-width:451px) AND (max-width:510px) {

  .container-card {
    transform: scale(.9) translateX(-8%);
  }
}


@keyframes aparecer {

  0% {
    opacity: 0
  }
  100% {
    opacity: 1;
  }
}