.container-card {

  width: 350px;
  border-radius: 10px;
  border: 3px solid #0FF0FC;
  padding: 10px;
}

.container-card img {
  width: 100%;
  height: 300px;
  object-fit: contain;
  border-radius: 15px;
}

.container-card .desc-product {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.desc-product h3 {
  font-family: "Neo-latina" ,sans-serif;
  line-height: 0px;
  font-size: larger;
}

.desc-product h4 {
 font-family: "Badcomic", sans-serif;
  line-height: 0px;
  font-size: small;

}

.desc-product button {
  color: #fff;
}