.dropdown {
     z-index: 10;
  position: relative;
  display: inline-block;
  font-family: Arial, sans-serif;
}

.dropdown-button {
  width: 180px;
  padding: 10px 14px;
  background-color: transparent;
  color: #fff;
  border: 3px solid #0FF0FC;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.2s ease;
}

.dropdown-button:hover {
    color: #0FF0FC;
    transition: all .4s ease-in;

}

.dropdown-menu {
  position: absolute;
  top: 110%;
  left: 0;
  width: 100%;
  color: #fff;
border: 3px solid #0FF0FC;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-top: 4px;
  list-style: none;
  padding: 0;
  z-index: 10;
}

.dropdown-item {
  padding: 10px 14px;
  cursor: pointer;
  color: #fff;
  transition: background-color 0.2s ease;
}

.dropdown-item:hover {
      color: #0FF0FC;
    transition: all .4s ease-in;
}

.arrow {
  font-size: 0.8rem;
}
