@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');


/* Tamaños de menu de filtros por 4 Categorias*/
.container-filters.four-categories {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 70px;
  width:75px;
  height: 360px;
}

/* Tamaños de menu de filtros por 3 Categorias*/
.container-filters.three-categories {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 70px;
  width:75px;
  height: 300px;
}

/* Tamaños de menu de filtros por 2 Categorias*/
.container-filters.two-categories {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 70px;
  width:75px;
  height: 245px;
}

/* Tamaños de menu de filtros por 1 Categorias*/
.container-filters.one-categories {
  z-index: 10;
  position: fixed;
  left: 0;
  top: 70px;
  width:75px;
  height: 190px;
}


button {
    background: transparent;
    border: 0;
    padding: 0;
    cursor: pointer;

}

.sidebar-menu button svg {
    color: #fff;
    width: 40px;
    height: 40px;
    transform: translateX(-9px);
    fill: #fff;
    
}




.sidebar-burger.icon.icon-tabler.icons-tabler-outline.icon-tabler-pinned svg {
    /* fill:#fff; */
    width: 40px;
    height: 40px;
    color: #fff;
    
}
.sidebar{
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 75px;
    height: 100%;
    background: transparent;
    transition: all 0.4s;
    border-radius: 15px;
    border: 3px solid #0FF0FC;
}

.container-filters.open .sidebar{
    width: 240px;
}

.sidebar-inner{
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
}

.sidebar-header{
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 1.25rem 0 0;
    background: rgba(0, 0, 0, 0.1);
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-header:hover{
    border-left: 3px solid #bdbdbd;
}

.sidebar-header h3 {
    color: #fff;
    margin-left: 15px;
}

.sidebar-burger{
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
}


.sidebar-logo{
    height: 30px;
    opacity: 0;
    transition: all 0.4s;
}

.container-filters.open .sidebar-logo{
    opacity: 1;
    transition: all 0.4s;
}

.sidebar-menu{
    display: grid;
}

.sidebar-menu > button{
    display: flex;
    gap: 12px;
    align-items: center;
    height: 55px;
    font-family: "Ubuntu";
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 2px;
    line-height: 1;
    padding: 0 22px;
    border-left: 3px solid transparent;
    transition: all 0.4s;
}

.sidebar-menu > button:hover{
    border-left: 3px solid #f9f9f9;
    

    & svg,
    & span {
        fill: #0FF0FC;
        color: #0FF0FC !important;
        transition: all .4s ease-in;
    }
}

/* .sidebar-menu > button.has-border{
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 1rem;
} */

.sidebar-menu > button:nth-last-child(){
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.12);
    margin-bottom: 1rem;
}


.sidebar-menu > button > span{
    color: #f9f9f9;
    opacity: 0;
    transition: all 0.4s;
}

.container-filters.open .sidebar-menu > button > span{
    opacity: 1;
    transition: all 0.4s;
}

button .icon-tabler-plus {
    transform: translateX(-25px) scale(.7) !important;
}

button .icon-tabler-coin {
    transform: translateX(-25px) !important;
}