.carousel {
  position: relative;
  width: 100%;
  max-width: 320px;
  margin: auto;
  overflow: hidden;
}

.carousel-img-wrapper {
  width: 100%;
  height: 320px;
}

.carousel-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  animation: fade 0.4s ease;
}

@keyframes fade {
  from {
    opacity: 0.3;
    transform: scale(0.97);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


/* Dots */
.carousel-dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
}

.dot.active {
  background: #0FF0FC;
}