.container-merch {
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 10px;
}

.container-merch h1 {
    color: #fff;
    text-align: center;
    grid-column: 1/ span 3;
    font-family: "Neo-latina" ,sans-serif;
    font-size: 3em;

}

.sec-filters {
    margin-top: 50px;
    grid-column: 1/ 2;
    width: 360px;
}

.sec-products {
    grid-column: 2/ span 3; 
    display: flex;
    width: 100%;
    justify-content: flex-end;
    
}