.container-merch {

    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0,84px) 3fr minmax(0,280px);
    grid-template-rows: 200px 1fr;
    transition: all .4s ease-in;
    padding-bottom: 100px;

}

.container-merch.active {

    grid-template-columns: minmax(0,248px) 3fr;
    transition: all .4s ease-in;

}



.sec-tittles  {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    justify-content: center;
    width: 100%;
}

.sec-tittles h1 {

    width: 100%;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: "Neo-latina" ,sans-serif;
    font-size: 3em;

}

.sec-tittles h3 {

    margin-left: 20px;
    transform: translateY(-35px);
    color: #fff;
    font-family: "Neo-latina" ,sans-serif;
}
 
.sec-filters {
    margin-top: 50px;
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    width: 75px;

}


.sec-products {

    grid-column: 2 / span 3; 
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column; 
    width: 100%;
    
}

.sec-products .box-dropdown {
    display: flex ;
    width: 100%;
    justify-content: end;
}

.sec-products .list-products {

    margin: 30px 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;    

}

.sec-cart {

    
    grid-column: 4 / span 5; 
    grid-row: 1 / span 3;
    width: 0px;
    display: relative;


}

.sec-cart.active{

    background-color: #000;
    z-index: 25;
    grid-column: 4 / 5; 
    grid-row: 1 / span 3;
    transition: all .4s ease-in;
    width: 400px;
    display: fixed;
    transition: all .4s ease-in;
}

.sec-cart .box-close {
    position: relative;
   margin: 15px 15px 0 0;
}

.box-close .btn-close {
    position: absolute;
    left: 92%;
    color: #fff;
    cursor: pointer;
}

.box-close .btn-close:hover {
    color: #0FF0FC;
    cursor: pointer;
    transition: all .4s ease-in;
}

.btn-close svg {
    width: 30px;
    height: 30px;
}


.sec-cart .box-tittles {
    display: flex;
    justify-content: space-between;
    font-family: "Neo-latina" ,sans-serif;
    color: #fff;
}

.box-tittles {
    margin: 60px 15px 30px 15px;

}

.box-tittles .subtotal {
    transform: translateX(-25px);
}


    
@media (max-width:480px) {

    .sec-cart.active{

        background-color: #000;
        z-index: 25;
        height: 100dvh;
        width: 100dvw;
        position: fixed;
        transition: all .4s ease-in;
    }

    .box-tittles {

        width: 100%;
    }

    .box-tittles h3:nth-child(1) {
        margin: 60px 0px 30px 0px;
    }
    .box-tittles h3:nth-child(2) {
        margin: 60px 20px 30px 0px;
    }

}
