.container-merch {
    z-index: 10;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(0,84px) 3fr;
    grid-template-rows: 200px 1fr;
    transition: all .4s ease-in;

}

.container-merch.active {

    grid-template-columns: minmax(0,248px) 3fr;
    transition: all .4s ease-in;

}



.sec-tittles  {
    grid-column: 1 / span 3;
    grid-row: 1 / span 2;
    justify-content: center;
    width: 100%;
}

.sec-tittles h1 {

    width: 100%;
    color: #fff;
    text-align: center;
    width: 100%;
    font-family: "Neo-latina" ,sans-serif;
    font-size: 3em;

}

.sec-tittles h3 {

    margin-left: 20px ;
    color: #fff;
    font-family: "Neo-latina" ,sans-serif;
}
 
.sec-filters {
    margin-top: 50px;
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    width: 75px;

}


.sec-products {
    grid-column: 2 / span 3; 
    grid-row: 2 / span 3;
    display: flex;
    flex-direction: column; 
    width: 100%;
    
}

.sec-products .box-dropdown {
    display: flex ;
    width: 100%;
    justify-content: end;
}

.sec-products .list-products {
    margin: 30px 20px; 
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%
    
    
}